<div data-role="page">

	<div data-role="header" data-position="inline">
    <h1>Purchase</h1>
	</div>

  <div data-role="content">
    <center><h3>Want to have access to all of these great discounts?</h3>
    <img src="/public/images/Card_Design.jpg" />
    <h4>If you do not already have a discount card, head over to <a href="http://www.BearDiscounts.com">www.BearDiscounts.com</a> to purchase a card or contact us at beardiscounts@gmail.com.</h4>
    </center>
      </div>
  
</div>
