<div data-role="page">

  <div data-role="header" class="ui-state-persist" data-position="inline">
    <h1>About Us</h1>
  </div>

  <div data-role="content">
    <center><h2>About Us</h2></center>
    <br />
       <h3>1. What Is Bear Discounts?</h3>
      The Bear Discounts Card provides WashU students and staff discounts at a plethora of restaurants, stores, attractions, services and more. Bear Discounts is proudly owned by 3 WashU Sophomores and is a part of the WashU's Student Entrepreneurial Program (StEP). Don't hesitate to contact us at any time at beardiscounts@gmail.com, or tweet @BearDiscounts. We love engaging with our customers!
      <h3>2. Who Should Buy The Bear Discounts Card?</h3>
      Every student and staff member of the Washington University community should use the Bear Discounts Card to take advantage of our incredible variety of discounts. If you like saving money, the Bear Discounts Card is for you!
      <h3>3. Where Is The Card Accepted?</h3>
      Many area merchants are willing to offer excellent deals to help draw coveted WashU traffic to their business. Domino's pizza offers a free medium pizza with the purchase of a large or extra-large pizza. St. Louis America Cab Company offers a great flat $20 rate to the airport from campus (this fare can usually run about $35).
      <h3>4. How Does The Bear Discounts Card Work?</h3>
      For a 1-time fee the cardholder gets access to all discounts for an entire year. The Bear Discounts Card can be used an unlimited amount of times throughout the entire school year. Cards expire in August. 
      <br/>
      <center><h6>Special thanks to Glyphish for the tab icons</h6></center>
      </div>

  
</div>
