<div data-role="page">

  <div data-role="header" class="ui-state-persist" data-position="inline">
    <h1>Deals</h1>

  </div>

  <div data-role="content">
      <center><img src = '/public/images/ajax-loader.gif'></img><br />Loading
      <%=link_to "Cancel", :action => :cancel_httpcall%></center>
  </div>

</div>